/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body
{   margin:0;
    padding:40px;
    height:100vh;
    display: -ms-flexbox;
   display: flex;
   -ms-flex-align: center;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
   background-color:  #D3D3D3; 
   display:flex;
   justify-content: center;
   align-content: center;
   flex-direction:column;
}
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body,
  html {
    height: 100%;
  }
  
  body {
    background: linear-gradient(15deg,  #0073e6 50% , #004d99 50.1%);
  }